<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Выберите задание</title>  
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Выбери раздел</h1>
        <ul>
            <li><a href="task?topic=animals">Животные</a></li>
            <li><a href="task?topic=letters">Буквы</a></li>
            <li><a href="task?topic=colours">Цвета</a></li>
            <li><a href="task?topic=digits">Цифры</a></li>
        </ul>
    </body>
</html>